"*":
  "atom-beautify":
    _analyticsUserId: "32a8f71e-6387-4aca-86fe-61fbbbd4d739"
  core:
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "d7ffbc64-8664-4acc-10a1-3fc275ef183c"
  "formatter-clangformat":
    a: {}
    c: {}
    cpp: {}
    java: {}
    js: {}
    objc: {}
    protobuf: {}
  "seti-icons":
    iconsPlus: true
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
